.gdb_history
bin
libs
obj
.gradle/
.idea/
.code/
.kotlin/
**/*.iml
build/
local.properties
# TTS Piper models are downloaded on first use (see SubtitleTtsModels.kt)
app/src/main/assets/tts_voice_model/
*~
